/*
	Theme Name: Aspire Theme
	Theme URI: http://my.studiopress.com/themes/aspire/
	Description: This is the Aspire theme created for the Genesis Framework.
	Author: Appfinite
	Author URI: http://www.appfinite.com/

	Version: 1.2

	Tags: black, white, blue, green, orange, pink, one-column, two-columns, responsive-layout, custom-header, custom-menu, full-width-template, sticky-post, theme-options, threaded-comments, rtl-language-support

	Template: genesis
	Template Version: 2.2+

	License: GPL-2.0+
	License URI: http://www.opensource.org/licenses/gpl-license.php
*/

©
/* # Table of Contents
- HTML5 Reset
	- Baseline Normalize
	- Box Sizing
	- Float Clearing
- Defaults
	- Typographical Elements
	- Headings
	- Objects
	- Gallery
	- Forms
	- Tables
	- Screen Reader Text
- Structure and Layout
	- Site Containers
	- Column Widths and Positions
	- Column Classes
- Common Classes
	- Avatar
	- Genesis
	- Search Form
	- Titles
	- WordPress
- Widgets
	- Featured Content
- Plugins
	- Genesis eNews Extended
	- Jetpack
- Site Header
	- Title Area
	- Widget Area
- Site Navigation
	- Accessible Menu
	- Site Header Navigation
	- Primary Navigation
	- Secondary Navigation
	- Skip Links
- Content Area
	- Entries
	- Entry Meta
	- Pagination
	- Comments
- Sidebars
- Footer Widgets
- Site Footer
- Media Queries
	- Retina Display
	- Max-width: 1200px
	- Max-width: 960px
	- Max-width: 800px
- Print Styles
*/


/* # HTML5 Reset
---------------------------------------------------------------------------------------------------- */

/* ## Baseline Normalize
--------------------------------------------- */
/* normalize.css v3.0.1 | MIT License | git.io/normalize */

html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#333}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

/* ## Box Sizing
--------------------------------------------- */

html,
input[type="search"]{
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}


/* ## Float Clearing
--------------------------------------------- */

.author-box:before,
.clearfix:before,
.entry:before,
.entry-content:before,
.footer-widgets:before,
.nav-primary:before,
.nav-secondary:before,
.pagination:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.wrap:before {
	content: " ";
	display: table;
}

.author-box:after,
.clearfix:after,
.entry:after,
.entry-content:after,
.footer-widgets:after,
.nav-primary:after,
.nav-secondary:after,
.pagination:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.wrap:after {
	clear: both;
	content: " ";
	display: table;
}


/* # Defaults
---------------------------------------------------------------------------------------------------- */

/* ## Typographical Elements
--------------------------------------------- */

html {
    font-size: 62.5%; /* 10px browser default */
}

/* Chrome fix */
body > div {
    font-size: 20px;
    font-size: 2.0rem;
}

body {
	background-color: #fff;
	color: #333;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-size: 2.0rem;
	font-weight: 300;
	line-height: 1.625;
	margin: 0;
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition:    all 0.4s ease-in-out;
	-ms-transition:     all 0.4s ease-in-out;
	-o-transition:      all 0.4s ease-in-out;
	transition:         all 0.4s ease-in-out;
}

a {
	/*color: #fa5738;*/
	color: #4879bb;
	text-decoration: none;
}

a:hover,
a:focus {
	/*color: #333;*/
	color: #3eb4e6;
	text-decoration: none;
}

p {
	margin: 0 0 30px;
	padding: 0;
	font-size: 1.7rem;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

hr {
	border: 0;
	border-collapse: collapse;
	border-top: 1px solid #ddd;
	clear: both;
	margin: 1em 0;
}

b,
strong {
	font-weight: 700;
}

blockquote,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 40px;
}


/* ## Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	line-height: 1.2;
	margin: 0 0 20px;
}

h1 {
	font-size: 36px;
	font-size: 3.6rem;
}

h2 {
	font-size: 30px;
	font-size: 3rem;
}

.image-section h2,
.solid-section h2 {
	font-size: 54px;
}

h3 {
	font-size: 30px;
	font-size: 3rem;
}

h4 {
	font-size: 20px;
	font-size: 2rem;
}

.image-section h4,
.solid-section h4 {
	font-size: 54px;
	font-size: 5.4rem;
	margin-bottom: 40px;
}

.home-mid-left h3,
.home-mid-left h4 {
	font-size: 30px;
	font-size: 3.0rem;
}

.home-mid-right h4 {
	font-size: 44px;
	font-size: 4.4rem;
	margin-bottom: 40px;
}

.home-mid-wide {
	-webkit-background-clip: padding-box;
	-moz-background-clip:    padding;
	background-clip:         padding-box;
	position: relative;
	z-index: 9;
}

.front-page-1 .image-section h4 {
	margin-bottom: 10px;
}

h5 {
	font-size: 18px;
	font-size: 1.8rem;
}

h6 {
	font-size: 16px;
	font-size: 1.6rem;
}

.bolder {
	font-weight: 700;
	text-transform: uppercase;
}
.BlogList img{ width:80%;}
.BlogList a{ text-align:center}
.contact-page h1 {
  color: #fff !important;
  font-size: 4.5rem !important;
  font-weight: lighter;
  padding: 50px 0;
  text-align: center;
}
.custom_bg{background: #3eb4e6 none repeat scroll 0 0; width:100%}
.wrap-text {
  margin: 0 auto;
  text-align: center;
  width: 90%;
}
.wrap-text h1 {
  	font-size: 3.8rem;
	margin: 1.7em 0;
	font-weight: bold;
	color: #fff;
}
.wrap-text h2 {
  font-size: 3.2rem;
  margin: 1em auto;
  text-transform:capitalize;
  width: 70%;
  color: #fff;
  font-weight: 400;
  
}
.wrap-text .cta_footer {
  margin: 70px auto;
  font-size:2.5rem !important;
  font-weight:300 !important;
  padding: 0.7em 1em !important;
   cursor: pointer;
}

.cta_btns .one-third > h3 {
  height: 88px;
   font-size: 2.3rem;
}
.cta_btns .button.large {
 font-size: 15px;
font-weight: 300;
min-height: 70px;
padding: 15px 40px;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.casestudy_title {
  display: table;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  font-weight: 600;
}
.trainig ul li {
    font-size: 1.6rem !important;
    list-style: unset;
    margin-bottom: 20px;
}
.readmore , .less_more{cursor:pointer;padding: 9px !important;
font-size: 13px !important;
float: right;
}
.social_media   img { display: table; margin: 0 auto; height:400px; text-align: center; }
/* ## Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
}

.featured-content img,
.gallery img {
	width: auto;
}

/* ## Gallery
--------------------------------------------- */

.gallery {
	overflow: hidden;
}

.gallery-item {
	float: left;
	margin: 0 0 28px;
	text-align: center;
}

.gallery-columns-2 .gallery-item {
	width: 50%;
}

.gallery-columns-3 .gallery-item {
	width: 33%;
}

.gallery-columns-4 .gallery-item {
	width: 25%;
}

.gallery-columns-5 .gallery-item {
	width: 20%;
}

.gallery-columns-6 .gallery-item {
	width: 16.6666%;
}

.gallery-columns-7 .gallery-item {
	width: 14.2857%;
}

.gallery-columns-8 .gallery-item {
	width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	width: 11.1111%;
}

.gallery img {
	border: 1px solid #ddd;
	height: auto;
	padding: 4px;
}

.gallery img:hover,
.gallery img:focus {
	border: 1px solid #999;
}

/* ## Forms
--------------------------------------------- */

input,
select,
textarea {
	background-color: #fff;
	border: 1px solid #ddd;
	color: #333;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 300;
	padding: 16px;
	width: 100%;
}

input:focus,
textarea:focus {
	border: 1px solid #999;
	outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

::-moz-placeholder {
	color: #333;
	font-weight: 300;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: #333;
	font-weight: 300;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #3eb4e6;
	/*background-color: #fa5738;*/
	border: 0;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 400;
	/*letter-spacing: 1px;*/
	letter-spacing: 0;
	padding: 10px 30px;
	text-transform: uppercase;
	width: auto;
	word-spacing: 2px;
	line-height: 20px;
}

button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover,
button:focus,
input:focus[type="button"],
input:focus[type="reset"],
input:focus[type="submit"],
.button:focus  {
	/*background-color: #fa5738;*/
	background-color: #000;
	color: #fff;
}

.site-inner .button:hover,
.entry-content .button:hover,
.entry-content .button:focus {
	background: #444;
	color: #fff;
}

.footer-widgets button,
.footer-widgets input[type="button"],
.footer-widgets input[type="reset"],
.footer-widgets input[type="submit"],
.footer-widgets .button {
	background-color: #fa5738;
	color: #fff;
}

.footer-widgets button:hover,
.footer-widgets input:hover[type="button"],
.footer-widgets input:hover[type="reset"],
.footer-widgets input:hover[type="submit"],
.footer-widgets .button:hover,
.footer-widgets button:focus,
.footer-widgets input:focus[type="button"],
.footer-widgets input:focus[type="reset"],
.footer-widgets input:focus[type="submit"],
.footer-widgets .button:focus {
	background-color: #fff;
	color: #333;
}

.button {
	display: inline-block;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

.site-inner .gform_wrapper .gform_footer input.button,
.site-inner .gform_wrapper .gform_footer input[type=submit] {
    font-size: 16px;
}

.site-inner .gform_wrapper input[type=text],
.site-inner .gform_wrapper input[type=url],
.site-inner .gform_wrapper input[type=email],
.site-inner .gform_wrapper input[type=tel],
.site-inner .gform_wrapper input[type=number],
.site-inner .gform_wrapper input[type=password] {
	padding: 20px;
}

.site-inner .gform_wrapper ul li.gfield {
    margin-bottom: 20px;
}

/* Buttons and Colors */

a.button.medium {
	font-size: 16px;
	font-weight: 300;
	padding: 12px 60px;
}

a.button.large {
	font-size: 18px;
	font-weight: 300;
	padding: 15px 40px;
}

a.button.clear-button {
	background: none;
	border: 1px solid #fff;
}

a.button.clear-button:hover {
    border: 1px solid #fa5738;
}

a.button.black {
	background: #000;
}

a.button.white {
	background: #fff;
	color: #333;
}

a.button.white-clear {
	background: none;
	border: 1px solid #fff;
	border-radius: 3px;
	color: #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}



/* ## Tables
--------------------------------------------- */

table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin-bottom: 40px;
	width: 100%;
}

tbody {
	border-bottom: 1px solid #ddd;
}

td,
th {
	text-align: left;
}

td {
	border-top: 1px solid #ddd;
	padding: 6px 0;
}

th {
	font-weight: 300;
}

/* ## Screen Reader Text
--------------------------------------------- */

.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus,
.genesis-nav-menu .search input[type="submit"]:focus,
.widget_search input[type="submit"]:focus  {
	clip: auto !important;
	height: auto;
	width: auto;
	display: block;
	font-size: 1em;
	font-weight: bold;
	padding: 15px 23px 14px;
	color: #333;
	background: #fff;
	z-index: 100000; /* Above WP toolbar. */
	text-decoration: none;
	box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
}

.more-link {
    position: relative;
}


/* # Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* ## Site Containers
--------------------------------------------- */

.site-inner,
.wrap {
	float: none;
	margin: 0 auto;
	max-width: 1200px;
}

.site-inner {
	background-color: #fff;
	clear: both;
	margin-top: 170px;
	position: relative;
	z-index: 9;
	-word-wrap: break-word;
}

.front-page .site-container .site-inner {
	margin-top: 0;
	/*max-width: 100%;*/
	overflow: hidden;
	padding-top: 80px;
}

.aspire-landing .site-container .site-inner {
	margin-top: 100px;
}

.secondary-nav .site-inner {
	margin-top: 250px;
}

/* ## Column Widths and Positions
--------------------------------------------- */

/* ### Wrapping div for .content and .sidebar-primary */

.content-sidebar-sidebar .content-sidebar-wrap,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
	width: 980px;
}

.content-sidebar-sidebar .content-sidebar-wrap {
	float: left;
}

.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
	float: right;
}

/* ### Content */

.content {
	float: right;
	width: 700px;
}

.content-sidebar .content,
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content {
	float: left;
}

.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content,
.sidebar-sidebar-content .content {
	width: 580px;
}

.full-width-content .content {
	width: 100%;
}

/* ### Primary Sidebar */

.sidebar-primary {
	float: right;
	width: 360px;
}

.sidebar-content .sidebar-primary,
.sidebar-sidebar-content .sidebar-primary {
	float: left;
}

/* ### Secondary Sidebar */

.sidebar-secondary {
	float: left;
	width: 180px;
}

.content-sidebar-sidebar .sidebar-secondary {
	float: right;
}

/* ## Column Classes
--------------------------------------------- */
/* Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css */

.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
	float: left;
	margin-bottom: 40px;
	margin-left: 2.564102564102564%;
}

.one-half,
.three-sixths,
.two-fourths {
	width: 48.717948717948715%;
}

.one-third,
.two-sixths {
	width: 31.623931623931625%;
}

.four-sixths,
.two-thirds {
	width: 65.81196581196582%;
}

.one-fourth {
	width: 23.076923076923077%;
}

.three-fourths {
	width: 74.35897435897436%;
}

.one-sixth {
	width: 14.52991452991453%;
}

.five-sixths {
	width: 82.90598290598291%;
}

.first {
	clear: both;
	margin-left: 0;
}


/* # Common Classes
---------------------------------------------------------------------------------------------------- */

/* ## Avatar
--------------------------------------------- */

.avatar {
	float: left;
}

.author-box .avatar {
	border-radius: 99%;
	-moz-border-radius: 99%;
	-ms-border-radius: 99%;
	-webkit-border-radius: 99%;
	height: 100px;
	width: 100px;
}

.entry-comments .avatar {
	height: 70px;
	width: 70px;
}

.alignleft .avatar,
.author-box .avatar {
	margin-right: 24px;
}

.alignright .avatar {
	margin-left: 24px;
}

.comment .avatar {
	border-radius: 99%;
	margin: 0 16px 24px 0;
	-moz-border-radius: 99%;
	-ms-border-radius: 99%;
	-webkit-border-radius: 99%;
}

/* ## Genesis
--------------------------------------------- */

.breadcrumb {
	margin-bottom: 20px;
}

.archive-description,
.author-box {
	background-color: #222;
	color: #fff;
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 40px;
	padding: 40px;
}

.author-box-title {
	color: #fff;
	font-size: 20px;
	font-size: 2.0rem;
	font-weight: 300;
	letter-spacing: 2px;
	margin-bottom: 4px;
	text-transform: uppercase;
}

.archive-description p:last-child,
.author-box p:last-child {
	margin-bottom: 0;
}

/* ## Search Form
--------------------------------------------- */

.search-form {
	overflow: hidden;
}

.site-header .search-form {
	float: right;
	margin-top: 12px;
}

.entry-content .search-form,
.site-header .search-form {
	width: 50%;
}

.genesis-nav-menu .search input[type="submit"],
.widget_search input[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* ## Titles
--------------------------------------------- */

.archive-title {
	font-size: 20px;
	font-size: 2rem;
}

.entry-title {
	font-size: 36px;
	font-size: 3.6rem;
}

.entry-title a,
.sidebar .widget-title a {
	color: #333;
}

.entry-title a:hover,
.entry-title a:focus {
	color: #fa5738;
}

.sidebar .widget-title,
.sidebar h4 {
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.6;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.footer-widgets .widget-title {
	color: #fff;
	font-size: 15px;
	font-size: 1.5rem;
	font-weight: 400;
	letter-spacing: 1.8px;
	line-height: 1.5;
	text-transform: uppercase;
}

/* ## WordPress
--------------------------------------------- */

a.aligncenter img {
	display: block;
	margin: 0 auto;
}

a.alignnone {
	display: inline-block;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright {
	max-width: 100%;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 24px;
}

img.alignnone,
.alignnone {
	margin-bottom: 12px;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
	margin: 0 24px 24px 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
	margin: 0 0 24px 24px;
}

.wp-caption-text {
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 700;
	text-align: center;
}

.entry-content p.wp-caption-text {
	margin-bottom: 0;
}

.sticky {
}

.entry-content .wp-audio-shortcode,
.entry-content .wp-playlist,
.entry-content .wp-video {
	margin: 0 0 28px;
}


/* # Widgets
---------------------------------------------------------------------------------------------------- */

.widget {
	word-wrap: break-word;
}

.widget ol > li {
	list-style-position: inside;
	list-style-type: decimal;
	padding-left: 20px;
	text-indent: -20px;
}

.widget li li {
	border: 0;
	margin: 0 0 0 30px;
	padding: 0;
}

.widget_calendar table {
	width: 100%;
}

.widget_calendar td,
.widget_calendar th {
	text-align: center;
}

/* ## Featured Content
--------------------------------------------- */

.featured-content .entry {
	margin-bottom: 20px;
	padding: 0 0 24px;
}

.featured-content .entry-title {
	font-size: 20px;
	font-size: 2rem;
}

.home .featured-content .entry-title {
	font-weight: 400;
	line-height: 1.5;
	text-transform: uppercase;
}

.featuredpage .entry-title {
	font-size: 36px;
	font-size: 3.6rem;
}

.single .featured-image {
	margin-bottom: 40px;
}

/* # Plugins
---------------------------------------------------------------------------------------------------- */

/* ## Genesis eNews Extended
--------------------------------------------- */

.enews-widget,
.enews-widget input {
	text-align: center;
}

.enews-widget,
.enews-widget .widget-title {
	/*color: #fff;*/
}

.enews-widget input,
.enews-widget input:focus {
	/*border: 1px solid #333;*/
}

.enews-widget input {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-size: 15px;
	font-size: 1.5rem;
	font-weight: 300;
	letter-spacing: 1.5px;
	margin-bottom: 16px;
	margin-right: 10px;
	padding: 12px 20px;
}

.sidebar .enews-widget input[type="submit"],
.footer-widgets .enews-widget input[type="submit"] {
	width: auto;
}

.enews-widget input[type="submit"] {
	/*background-color: #000;*/
	background-color: #4879bb;
	color: #fff;
	margin: 0;
	/*width: 100%;*/
}

.footer-widgets .enews-widget input[type="submit"] {
	background: #fa5738;
}

.enews-widget input:hover[type="submit"],
.enews-widget input:focus[type="submit"]  {
	background: #333;
	color: #fff;
}

.enews form + p {
	/*margin-top: 24px;*/
}

.front-page-2 form {
	background: rgba(255, 255, 255, 0.18);
	border-radius: 8px;
	margin-bottom: 10px;
	padding: 20px 0px 5px;
}

.front-page-2 .enews-widget input {
	width: 30%;
}

/* ## Jetpack
--------------------------------------------- */

#wpstats {
	display: none;
}


/* # Skip Links
---------------------------------------------------------------------------------------------------- */
.genesis-skip-link {
	margin: 0;
}

.genesis-skip-link li {
	height: 0;
	width: 0;
	list-style: none;
}

/* Display outline on focus */
:focus {
	color: #333;
	outline: #ccc solid 1px;
}


/* # Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	background-color: #000;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}

.site-header {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition:    all 0.2s ease-in-out;
	-ms-transition:     all 0.2s ease-in-out;
	-o-transition:      all 0.2s ease-in-out;
	transition:         all 0.2s ease-in-out;
}

.front-page .site-header {
	border-bottom: 1px solid #ddd;
	padding-top: 30px;
}

.featured-section .site-header {
	background-color: transparent;
	border:  none;
}

.site-header.light {
	background-color: #000;
	padding-top: 0;
}

.site-header.light .nav-secondary {
	display: none;
}

.admin-bar .site-header {
	top: 32px;
}

/* Title Area
--------------------------------------------- */

.title-area {
	float: left;
	padding: 25px 0;
	width: 360px;
}
.contact_custom .site-inner, .contact_custom .wrap{ width:100%; max-width:100%;}	
.contact_custom .site-inner{margin:76px 0 0 0}
.contact_custom  .custom_wrapper{ max-width:1200px; margin:0 auto}
.site-header.light .title-area {
	padding: 25px 0;
}

.site-title {
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 1;
	margin-bottom: 0;
}

.site-title a,
.site-title a:hover {
	color: #fff;
}

.front-page .site-header .site-title a,
.front-page .site-header .site-title a:hover {
	color: #fff;
}

.front-page .site-header.light .site-title a,
.front-page .site-header light .site-title a:hover {
	color: #fff;
}

.header-image .title-area,
.header-image .site-header.light .title-area {
	padding: 0;
}

.header-image .site-title > a {
	background-size: contain !important;
	display: block;
	height: 76px;
	text-indent: -9999px;
}

.header-image .light .site-title > a {
	height: 56px;
}

.site-description {
	display: block;
	height: 0;
	margin-bottom: 0;
	text-indent: -9999px;
}

/* ## Widget Area
--------------------------------------------- */

.site-header .widget-area {
	float: right;
	text-align: right;
	width: 800px;
}


/*
Site Navigation
---------------------------------------------------------------------------------------------------- */

.genesis-nav-menu {
	line-height: 1;
}

.genesis-nav-menu .menu-item {
	display: inline-block;
	text-align: left;
}

.genesis-nav-menu li li {
	margin-left: 0;
}

.genesis-nav-menu a {
	color: #fff;
	display: block;
	font-size: 13px;
	font-weight: 300;
	letter-spacing: 2px;
	padding: 30px 15px;
	text-transform: uppercase;
}

.genesis-nav-menu a:focus,
.genesis-nav-menu a:hover {
	color: #fa5738;
}

.site-header.light .genesis-nav-menu a {
	/*padding: 30px 15px;*/
}

.site-header.light .genesis-nav-menu > .last > a {
    padding-right: 0;
}

.genesis-nav-menu li.highlight a:hover::before {
	color: #fff;
}

.genesis-nav-menu li.highlight > a {
	font-weight: 800;
}

.genesis-nav-menu > .menu-item > a {
	text-transform: uppercase;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

.front-page .site-header.light .genesis-nav-menu > .menu-item > a {
	/*color: #fff;*/
}

.genesis-nav-menu .sub-menu {
	left: -9999px;
	letter-spacing: 0;
	opacity: 0;
	position: absolute;
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition:    opacity .4s ease-in-out;
	-ms-transition:     opacity .4s ease-in-out;
	-o-transition:      opacity .4s ease-in-out;
	transition:         opacity .4s ease-in-out;
	width: 200px;
	z-index: 99;
}

.genesis-nav-menu .sub-menu a {
	background-color: #222;
	font-size: 12px;
	padding: 20px;
	position: relative;
	width: 200px;
	word-wrap: break-word;
}

.genesis-nav-menu .sub-menu a:hover,
.genesis-nav-menu .sub-menu li.current-menu-item > a {
	background-color: #fa5738;
	color: #fff;
}

.genesis-nav-menu .sub-menu .sub-menu {
	margin: -53px 0 0 199px;
}

.genesis-nav-menu .menu-item:hover {
	position: static;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
	left: auto;
	opacity: 1;
}

.genesis-nav-menu > .first > a {
	padding-left: 0;
}

.genesis-nav-menu > .last > a {
	padding-right: 0;
}

.genesis-nav-menu > .right {
	color: #fff;
	display: inline-block;
	list-style-type: none;
	padding: 27px 20px;
	text-transform: uppercase;
}

.genesis-nav-menu > .right > a {
	display: inline;
	padding: 0;
}

.genesis-nav-menu > .rss > a {
	margin-left: 48px;
}

.genesis-nav-menu > .search {
	display: block;
	margin: 0 auto;
	padding: 0 20px 20px;
	width: 50%;
}

/* Primary Navigation
--------------------------------------------- */

.nav-primary {
	text-align: center;
}

.nav-primary .genesis-nav-menu {
	/*float: right;*/
}

/* ## Secondary Navigation
--------------------------------------------- */

.nav-secondary {
	border-bottom: 1px solid #444;
}

/* Footer Navigation
--------------------------------------------- */

.nav-footer .genesis-nav-menu {
	padding: 20px 0;
}

.nav-footer .genesis-nav-menu a {
	border: none;
	font-weight: 400;
	letter-spacing: 3px;
	margin: 0 20px;
	padding: 0;
}

/* Responsive Menu
--------------------------------------------- */

.responsive-menu-icon {
	cursor: pointer;
	display: none;
	margin-bottom: 10px;
	text-align: center;
}

.responsive-menu-icon::before {
	color: #aaa;
	content: "\f333";
	font: normal 24px/1 "dashicons";
	margin: 0 auto;
}

.nav-secondary .responsive-menu-icon {
	margin: 10px auto 0;
}

/* # Content Area
---------------------------------------------------------------------------------------------------- */

/* Front Page
--------------------------------------------- */

.image-section,
.solid-section {
	clear: both;
	text-align: center;
	width: 100%;
}

.image-section {
	display: table;
	overflow: hidden;
	table-layout: fixed;
	width: 100%;
}

.image-section .widget-area {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.image-section,
.image-section a {
	color: #fff;
}

.image-section a:hover,
.image-section .featured-content .entry-title a:hover {
	color: #fa5738;
}

.image-section a.button:hover {
	background-color: #fff;
	color: #333;
}

.solid-section {
	background-color: #fff;
}

.solid-section a.button:hover {
	background-color: #000;
}

.front-page-2,
.front-page-3,
.front-page-4,
.front-page-5,
.front-page-6,
.front-page-7,
.front-page-8,
.front-page-9,
.front-page-10,
.front-page-11,
.front-page-12,
.front-page-13 {
	/*margin-top: -54px;*/
	-webkit-background-clip: padding-box;
	-moz-background-clip:    padding;
	background-clip:         padding-box;
	position: relative;
	z-index: 9;
}

.front-page-1,
.front-page-4,
.front-page-5,
.front-page-7,
.front-page-9,
.front-page-12 {
	/*background-attachment: fixed;*/
	background-position: 50% 80%;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size:    cover;
	background-size:         cover;
}

.front-page-1 {
	max-height: 740px;
	position: relative;
}

.front-page-1 {
	height: 100vh;
}

.front-page-1 .image-section {
	/*padding-top: 200px;*/
}

.front-page-1 p {
	font-size: 24px;
	font-size: 2.4rem;
	letter-spacing: 1px;
}

.front-page-2 .image-section {
	/*background: #fa5738;*/
	background: #3eb4e6;
	padding: 60px 0 20px;
}

.front-page-2 {
	margin-left: auto;
	margin-right: auto;
	margin-top: -160px;
	position: relative;
	width: 1000px;
}

.front-page-2 h4 {
	font-size: 34px;
	font-size: 3.4rem;
	font-weight: 400;
	line-height: 1.5;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.front-page-2 .wrap {
	padding: 0 5%;
}

.front-page-2 h3 {
	line-height: 1.5;
	margin-bottom: 20px;
}

.front-page-2 p {
	margin-bottom: 15px;
}

.front-page-2 .flexible-widgets {
	padding: 0;
}

.front-page-3 .solid-section h4 {
	margin-bottom: 20px;
}

.front-page-4 {
	background-color: #191a1c;
}

.front-page-4 img {
	margin-bottom: 20px;
}

.home-mid {
	background: #f3f3f3;
}

.home-mid-inner {
	margin: 0 auto;
	max-width: 1200px;
}

.home-mid-left {
	float: left;
	margin-top: 200px;
	padding: 0;
	width: 25%;
}

.home-mid-right {
	background: #fff;
	float: right;
	margin-top: 120px;
	padding: 70px;
	width: 70%;
}

.front-page-9 {
	background-color: #fa5738;
}

.front-page-12 {
	background-color: #f3f3f3;
}

.front-page-12 .image-section {
	color: #333;
}

.front-page-12 .image-section a {
	color: #fa5738;
}

.secondary-nav .front-page-1 .image-section {
	padding-top: 150px;
}

.bottom-image {
	margin-bottom: -160px;
	margin-top: 50px;
}

.bottom-image img {
	margin-bottom: -10px;
}

.front-page .field-wrap:last-child {
	margin-bottom: 0;
}

.fp-left {
	float: left;
	display: inline-block;
  margin-top: 100px;
  padding: 0;
  position: relative;
  text-align: left;
  width: 49%;
  vertical-align: top;
}

.fp-right {
	display: inline-block;
  margin: 0;
  max-width: none;
  padding: 0;
  position: relative;
  text-align: left;
  width: 40%;
  vertical-align: top;
}

.fp-right img {
	max-width: none;
}

.fp-left2 {
	display: inline-block;
  margin: 0;
  max-width: none;
  min-height: 700px;
  padding: 0;
  position: relative;
  text-align: left;
  width: 40%;
  vertical-align: top;
}

.fp-right2 {
	float: right;
	display: inline-block;
  margin-top: 100px;
  padding: 0;
  position: relative;
  text-align: left;
  width: 49%;
  vertical-align: top;
}

.fp-left2 img {
	max-width: none;
	position: absolute;
	right: 0;
}

.fp-left ul,
.fp-right2 ul {
	margin-bottom: 40px;
}

.fp-left li,
.fp-right2 li {
	list-style-type: disc;
	margin-left: 24px;
	margin-bottom: 5px;
}

/* Dashicons
--------------------------------------------- */

.front-page .dashicons {
	font-size: 40px;
	height: 40px;
	margin-bottom: 20px;
	width: 40px;
}

/* Flexible Widgets
--------------------------------------------- */

.flexible-widgets {
	padding: 140px 0 120px;
}

.flexible-widgets .widget {
	margin: 0 0 40px;
}

.flexible-widgets.widget-full .widget,
.flexible-widgets.widget-halves.uneven .widget:last-of-type {
	background: none;
	margin-left: 0;
	padding: 0;
	width: 100%;
}

.widget-area.flexible-widgets.widget-half .widget,
.flexible-widgets.widget-halves .widget {
	width: 48.717948717948715%;
}

.flexible-widgets.widget-thirds .widget {
	width: 31.623931623931625%;
}

.flexible-widgets.widget-fourths .widget {
	width: 23.076923076923077%;
}

.flexible-widgets.widget-halves .widget:nth-child(even),
.flexible-widgets.widget-thirds .widget:nth-child(3n+2),
.flexible-widgets.widget-fourths .widget:nth-child(4n+2) {
	clear: left;
	margin-left: 0;
}

.flexible-widgets.widget-halves h2,
.flexible-widgets.widget-thirds h2,
.flexible-widgets.widget-fourths h2 {
	font-size: 36px;
}

/* ## Entries
--------------------------------------------- */

.entry {
	margin-bottom: 100px;
	padding: 0;
}

.content .entry {
	/*background-color: #fff;*/
}

.entry-content ol,
.entry-content ul {
	margin-bottom: 28px;
	margin-left: 40px;
}

.entry-content ol > li {
	list-style-type: decimal;
}

.entry-content ul > li {
	list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul {
	margin-bottom: 0;
}

.content ol ol,
.content ul ul {
	margin-bottom: 0;
}


.entry-content code {
	background-color: #333;
	color: #ddd;
}

/* ## Entry Meta
--------------------------------------------- */

p.entry-meta {
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 0;
}

.entry-header .entry-meta {
	margin-bottom: 24px;
}

.entry-footer .entry-meta {
	border-top: 2px solid #f5f5f5;
	padding-top: 24px;
}

.entry-categories,
.entry-tags {
	display: block;
}

.entry-comments-link::before {
	content: "\2014";
	margin: 0 6px 0 2px;
}

/* ## After Entry
--------------------------------------------- */

.after-entry {
	margin-bottom: 40px;
}

.after-entry h3 {
	font-size: 20px;
	font-size: 2.0rem;
	letter-spacing: 1px;
	text-transform: uppercase;
}

/* ## Pagination
--------------------------------------------- */

.pagination {
	clear: both;
	margin: 40px 0;
}

.adjacent-entry-pagination {
	margin-bottom: 0;
}

.archive-pagination li {
	display: inline;
}

.archive-pagination li a {
	border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-webkit-border-radius: 6px;
	/*background-color: #333;*/
	background-color: #666;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-size: 1.6rem;
	padding: 4px 12px;
	text-decoration: none;
}

.archive-pagination li a:hover,
.archive-pagination li a:focus,
.archive-pagination .active a {
	background-color: #3eb4e6;
	text-decoration: none;
}

/* ## Comments
--------------------------------------------- */

.comment-respond,
.entry-comments,
.entry-pings {
	background-color: #fff;
	margin-bottom: 40px;
}

.comment-respond,
.entry-pings {
	padding: 40px 40px 16px;
}

.entry-comments {
	padding: 40px 0;
}

.comment-header {
	font-size: 16px;
	font-size: 1.6rem;
}

li.comment { }

.comment-content {
	clear: both;
	word-wrap: break-word;
}

.comment-list li {
	margin-top: 24px;
	padding: 32px;
}

.comment-list li li {
	margin-right: -32px;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
	width: 50%;
}

.comment-respond label {
	display: block;
	margin-right: 12px;
}

.entry-comments .comment-author {
	margin-bottom: 0;
}

.entry-pings .reply {
	display: none;
}

.bypostauthor {
}

.form-allowed-tags {
	background-color: #f5f5f5;
	font-size: 16px;
	font-size: 1.6rem;
	padding: 24px;
}


/* # Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar {
	font-size: 16px;
	font-size: 1.6rem;
}

.sidebar li {
	border-bottom: 1px dotted #ddd;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.sidebar p {
	margin-bottom: 12px;
}

.sidebar p:last-child,
.sidebar ul > li:last-child {
	margin-bottom: 0;
}

.sidebar .widget {
	background-color: #fff;
	margin-bottom: 40px;
}


/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
	background-color: #000;
	clear: both;
	font-size: 18px;
	/*text-align: center;*/
}

.footer-widgets .wrap {
	padding-bottom: 60px;
	padding-top: 100px;
}

.footer-widgets,
.footer-widgets a {
	color: #fff;
}

.footer-widgets a {
	font-weight: 400;
}

.footer-widgets input {
	border: 1px solid #333;
}

.footer-widgets a.button,
.footer-widgets a:hover,
.footer-widgets a:focus {
	color: #fff;
}

.footer-widgets li {
	border-bottom: 1px dotted #666;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.footer-widgets .widget {
	margin-bottom: 40px;
}

.footer-widgets p:last-child {
	margin-bottom: 0;
}

.footer-widgets-1,
.footer-widgets-2 {
	margin: 0 3.3% 0 0;
	width: 30.555555555%;
}

.footer-widgets-3 {
	width: 30.555555555%;
}

.footer-widgets-1,
.footer-widgets-2 {
	float: left;
}

.footer-widgets-3 {
	float: right;
}

/* # Plans
---------------------------------------------------------------------------------------------------- */

.plans {
	margin-top: 60px;
}

.plan {
	background: #fff;
	border: 1px solid #ddd;
	color: #333;
	float: left;
	padding: 60px 20px;
	width: 25%;
}

.popular {
	background: #fa5738;
	border: none;
	color: #fff;
	position: relative;
	transform: scale(1.06);
	-webkit-transform: scale(1.06);
}

.plan h2 {
	font-size: 62px;
	font-weight: 300;
}

.popular h2 {
	color: #fff;
}

.plan .price {
	font-size: 90px;
	font-weight: 400;
	margin: 0 0 20px;
}

.plan sup {
	font-size: 30px;
	top: -1.36em;
}

.plan .monthly {
	font-size: 18px;
}

.plan small {
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 0;
}

.plan-list {
	margin: 0 0 20px;
	overflow: hidden;
}

.plan-list li,
.entry-content .plan-list li {
	list-style: none;
	margin: 0 0 20px;
}


/*
Portfolio
---------------------------------------------------------------------------------------------------- */

.entry-portfolio {
	margin: 0 0 40px;
	padding: 0;
}

.content .portfolio {
	background: none;
	float: left;
	margin: 0 2% 40px 0 !important;
	overflow: hidden;
	padding: 0;
	width: 30.555555555%;
}

.portfolio .post-image {
	border: none;
	margin: 0 0 10px;
	padding: 0;
}

.portfolio .post-image:hover {
	-moz-transition:all .5s ease;
	-o-transition:all .5s ease;
	-webkit-transition:all .5s ease;
	transition:all .5s ease;
	opacity: 0.6;
}

.portfolio .gallery img:hover,
.portfolio .gallery img:focus {
	border: none;
}

.portfolio .post .entry-title {
	font-size: 22px;
	font-weight: 400;
	line-height: 1.5;
	margin: 10px 0;
}

.portfolio .entry-title a {
	margin: 0;
	text-decoration: none;
}

.portfolio .entry-meta {
	display: none;
}

.portfolio .more-link {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #222;
	color: #fff;
	display: block;
	padding: 8px 12px;;
	margin: 20px 0 0;
	text-align: center;
	text-decoration: none;
	max-width: 150px;
}

.content .portfolio .more-link:hover {
	background: #fa5738;
	color: #fff;
}

.portfolio-clear {
	clear: none;
}

.portfolio-clear-2 {
	clear: both;
}


/* # Miscelaneous
---------------------------------------------------------------------------------------------------- */

.uppercase {
	text-transform: uppercase;
}

.tiny {
	font-size: 14px;
	font-size: 1.4rem;
	letter-spacing: 1px;
}

.tiny2 {
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 400;
	letter-spacing: 1px;
}

small {
	letter-spacing: 1px;
}

.italic {
	font-style: italic;
}

.centered {
	margin: 0 auto;
	text-align: center;
}

.author-circle {
	border: 4px solid #fff;
	border-radius: 50px;
}

.quote {
	background: #fff;
	border-radius: 6px;
	border: 1px solid #ddd;
	color: #888;
	font-size: 16px;
	padding: 20px 40px;
}

.quote-arrow {
	background-image: url(images/quote-arrow.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	bottom: 1px;
	display: block;
	margin: 0 0 10px;
	padding: 14px 0 0;
	position: relative;
}

.quote-black {
	background: #121212;
	border-radius: 6px;
	border: 1px solid #353535;
	color: #fff;
	font-size: 16px;
	padding: 20px 40px;
}

.quote-arrow-black {
	background-image: url(images/quote-arrow-black.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	bottom: 1px;
	display: block;
	margin: 0 0 10px;
	padding: 14px 0 0;
	position: relative;
}

.quote-black a {
	color: #aaa;
}

.quote-black p {
	color: #fff;
}

.left-content {
	float: left;
	padding: 0 20px 0 0;
	text-align: left;
}

.left-content .fa,
.right-content .fa {
	padding: 40px 0;
}

.right-content {
	overflow: hidden;
	text-align: left;
}

.left-content,
.right-content h3 {
	font-size: 24px;
	font-size: 2.4rem;
	font-weight: 400;
	margin-bottom: 8px;
}

.leftrow {
	background: #fff;
	color: #333;
	float: left;
	min-height: 320px;
	padding: 70px 30px 40px;
	text-align: left;
	width: 60%;
}

.rightrow {
	background: rgba(23, 148, 255, 0.8);
	color: #fff;
	float: right;
	min-height: 320px;
	padding: 70px 30px 40px;
	text-align: center;
	width: 40%;
}

.features {
	text-align: left;
}

.features .fa {
	font-size: 40px;
	float: left;
	padding: 0 20px 0 0;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

div.pp_default .pp_content,
div.light_rounded .pp_content {
	background-color: #000 !important
}

div.pp_default .pp_top .pp_left,
div.pp_default .pp_top .pp_middle,
div.pp_default .pp_top .pp_right,
div.pp_default .pp_content_container .pp_left,
div.pp_default .pp_content_container .pp_right,
div.pp_default .pp_content_container .pp_content,
div.pp_default .pp_bottom .pp_left,
div.pp_default .pp_bottom .pp_middle,
div.pp_default .pp_bottom .pp_right {
	background: none !important;
}

.journal-title {
	font-size: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#journal hr {
	border: 1px solid #ddd;
	margin: 30px 0;
	width: 100px;
}


/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background-color: #000;
	color: #fff;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.6;
	padding: 30px 0;
	text-align: center;
	text-transform: uppercase;
}

.site-footer p {
	font-size: 12px;
  letter-spacing: 1px;
	margin-bottom: 0;
}

.site-footer a {
	color: #fff;
}

.site-footer a:hover {
	color: #fa5738;
}


/* Fadeup Effect
---------------------------------------------------------------------------------------------------- */

.js .fadeup-effect {
	opacity: 0;
	overflow: hidden;
	-webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

@-webkit-keyframes fadeInUp {
    from { opacity: 0; -webkit-transform: translateY(20px); }
    to { opacity: 1; -webkit-transform: translateY(0); }
}

@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.profile .one-third{
  width: 30.624%;
}
/* # Media Queries
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1280px) {
.cta_btns .one-third > h3 {
  font-size: 2.5rem;
  height: 150px !important;
}
.cta_btns .button.large {
  font-size: 16px;
}
	.site-inner,
	.wrap {
		max-width: 1140px;
	}
	.contact_custom  .custom_wrapper{ max-width:1200px; margin:0 auto}

}

@media only screen and (max-width: 1200px) {

	.site-inner,
	.wrap {
		max-width: 960px;
	}
	.contact_custom  .custom_wrapper{ max-width:960px; margin:0 auto}
	

	.content-sidebar-sidebar .content-sidebar-wrap,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-sidebar-content .content-sidebar-wrap {
		width: 740px;
	}

	.content,
	.site-header .widget-area {
		width: 620px;
	}

	.sidebar-content-sidebar .content,
	.sidebar-sidebar-content .content,
	.content-sidebar-sidebar .content {
		width: 400px;
	}

	.sidebar-primary {
		width: 300px;
	}

	.title-area {
		width: 200px;
	}

}


@media only screen and (max-width: 1080px) {
	

	.front-page-2 {
		padding: 0 5%;
		width: 100%;
	}

}

@media only screen and (max-width: 1023px) {

	.site-inner,
	.wrap {
		max-width: 768px;
	}
	
	.contact_custom  .custom_wrapper{ max-width:768px; margin:0 auto}
	.contact_custom  .site-inner{margin:0 0 0 0}
	

	.secondary-nav .site-inner {
		margin-top: 80px;
	}

	.front-page .site-inner {
		max-width: 768px;
	}

	.site-header {
		position: static;
	}

	.front-page .site-header {
		background-color: #000;
	}

	.front-page .site-header,
	.header-image .title-area,
	.header-image .site-header.light .title-area {
		padding-top: 0;
	}

	.front-page .site-header > .wrap {
		border: none;
	}

	.content,
	.sidebar,
	.site-header .widget-area,
	.title-area {
		width: 100%;
	}

	.site-header .title-area,
	.site-header.light .title-area {
		padding: 15px 0;
	}

	.header-image .light .site-title > a {
		height: 76px;
	}

	.genesis-nav-menu,
	.site-header .widget-area,
	.site-title {
		text-align: center;
	}

	.header-image .site-title > a {
		background-position: center !important;
	}

	.nav-primary .genesis-nav-menu {
		float: none;
	}

	.nav-secondary,
	.site-header.light .nav-secondary {
		border-bottom: none;
		display: block;
	}

	.genesis-nav-menu a,
	.site-header.light .genesis-nav-menu a {
		padding: 10px 10px 20px;
	}

	.front-page .site-inner {
		margin-top: 0;
	}

	.front-page-1,
	.front-page-4,
	.front-page-5,
	.front-page-7,
	.front-page-9,
	.front-page-12 {
		/*background-attachment: scroll;*/
		/*-webkit-background-size: auto;
		-moz-background-size:    auto;
		background-size:         auto;*/
	}

	.site-inner {
		margin-top: 80px;
	}

	.full-width-content .content {
		padding: 0;
	}

	.full-width-content img.pull-left {
		margin-left: 0;
	}

	.full-width-content img.pull-right {
		margin-right: 0;
	}

	.five-sixths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		margin: 0 0 40px;
		width: 100% !important;
	}

	.flexible-widgets.widget-full .widget,
	.flexible-widgets.widget-halves .widget,
	.flexible-widgets.widget-thirds .widget,
	.flexible-widgets.widget-fourths .widget {
		margin: 0 auto 20px;
		width: 100%;
	}

	.front-page-1 .image-section,
	.secondary-nav .front-page-1 .image-section {
		padding-top: 0;
	}

	.plan .price {
	  font-size: 60px;
	}

	.plan sup {
    font-size: 30px;
    top: -.7em;
	}

	.enews-widget input,
	.front-page-2 .enews-widget input {
		width: 40%;
	}

}

	@media only screen and (max-width:1279px){
		footer .genesis-nav-menu .menu-item {
		  margin-bottom: 20px !important
		}
.social_media   img {height:auto;}
	}
@media only screen and (min-width:1024px){
	.genesis-nav-menu a {font-size: 11px;}
		.cta_btns .button.large {
  font-size: 11px !important;
}
}

@media only screen and (max-width:991px){
	.BlogList img{ width:55%;}
	.services .one-third, .two-sixths { width: 100%; }
}
@media only screen and (max-width:1025px){
	.front-page-4 .one-third p { height: auto; }
	.front-page-4 .one-third { width: 100%; }
}

@media only screen and (max-width: 960px) {

	.site-inner,
	.wrap {
		max-width: 768px;
	}

	.content,
	.content-sidebar-sidebar .content,
	.content-sidebar-sidebar .content-sidebar-wrap,
	.sidebar-content-sidebar .content,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.sidebar-primary,
	.sidebar-secondary,
	.sidebar-sidebar-content .content,
	.sidebar-sidebar-content .content-sidebar-wrap,
	.site-header .widget-area,
	.title-area {
		width: 100%;
	}

	.footer-widgets-1
	.footer-widgets-2,
	.footer-widgets-3 {
		margin: 0 0 30px;
	}

	.site-header .wrap {
		padding: 20px 5%;
	}

	.header-image .site-title > a {
		background-position: center top;
	}

	.genesis-nav-menu li,
	.site-header ul.genesis-nav-menu,
	.site-header .search-form {
		float: none;
	}

	.genesis-nav-menu,
	.site-description,
	.site-header .title-area,
	.site-header .search-form,
	.site-title {
		text-align: center;
	}

	.genesis-nav-menu a,
	.genesis-nav-menu > .first > a,
	.genesis-nav-menu > .last > a {
		padding: 20px 16px;
	}

	.site-header .search-form {
		margin: 16px auto;
	}

	.genesis-nav-menu li.right {
		display: none;
	}

	.features .main-img {
		padding-top: 0;
	}

}
@media only screen and (max-width:1200px) {  
.BlogList img{ width:60%;}
.front-page-4 .one-third h3 {
  font-size: 2rem;
}
.front-page-4 .one-third p {
  height: 250px;
  text-align: justify;
}
.cta_btns .one-third > h3 {
  font-size: 2.5rem;
  height: 110px;
}
}

@media only screen and (max-width: 800px) {
		.slider_content .flexible-widgets {
  padding: 0 0 120px;
}
.cta_btns .one-third > h3 {
  height: 60px;
}
.cta_btns .button.large {
  width: 100%;
}

	body {
		background-color: #fff;
		font-size: 16px;
		font-size: 1.6rem;
	}

	.site-header .wrap {
		padding: 0 5%;
	}

	.site-inner,
	.wrap {
		padding-left: 5%;
		padding-right: 5%;
	}
	.contact_custom  .site-inner{ margin:0; padding:0}
	
	
    .contact_custom  .custom_wrapper,.contact_custom .contact-page h1 {
		padding-left: 5%;
		padding-right: 5%;
	}
	.front-page .site-inner {
			padding: 0;
		}

	.genesis-nav-menu.responsive-menu {
		display: none;
		float: none;
		padding-bottom: 20px;
	}

	.genesis-nav-menu.responsive-menu .menu-item,
	.responsive-menu-icon {
		display: block;
	}

	.genesis-nav-menu.responsive-menu .menu-item:hover {
		position: static;
	}

	.genesis-nav-menu.responsive-menu li.current-menu-item > a,
	.genesis-nav-menu.responsive-menu .sub-menu li.current-menu-item > a:hover,
	.genesis-nav-menu.responsive-menu li a,
	.genesis-nav-menu.responsive-menu li a:hover {
		background: none;
		border: none;
		display: block;
		padding: 10px 0;
		text-transform: none;
	}

	.genesis-nav-menu.responsive-menu .menu-item-has-children {
		cursor: pointer;
	}

	.genesis-nav-menu.responsive-menu .menu-item-has-children > a {
		margin-right: 60px;
	}

	.genesis-nav-menu.responsive-menu > .menu-item-has-children:before {
		content: "\f347";
		float: right;
		font: normal 20px/1 "dashicons";
		height: 20px;
		padding: 7px 20px;
		right: 0;
		text-align: right;
		z-index: 9999;
	}

	.genesis-nav-menu.responsive-menu .menu-open.menu-item-has-children:before {
		content: "\f343";
	}

	.genesis-nav-menu.responsive-menu > .menu-item > .sub-menu {
		display: none;
	}

	.genesis-nav-menu.responsive-menu .sub-menu {
		background-color: rgba(255, 255, 255, 0.05);
		left: auto;
		opacity: 1;
		position: relative;
		-moz-transition:    opacity .4s ease-in-out;
		-ms-transition:     opacity .4s ease-in-out;
		-o-transition:      opacity .4s ease-in-out;
		-webkit-transition: opacity .4s ease-in-out;
		transition:         opacity .4s ease-in-out;
		width: 100%;
		z-index: 99;
	}

	.genesis-nav-menu.responsive-menu .sub-menu .sub-menu {
		background-color: transparent;
		margin: 0;
		padding-left: 25px;
	}

	.genesis-nav-menu.responsive-menu .sub-menu li a,
	.genesis-nav-menu.responsive-menu .sub-menu li a:hover {
		padding: 10px 0;
		position: relative;
		text-transform: none;
		width: 100%;
	}

	.genesis-nav-menu.responsive-menu .current-menu-item > a,
	.genesis-nav-menu.responsive-menu .sub-menu .current-menu-item > a:hover,
	.genesis-nav-menu.responsive-menu > li.menu-item-has-children:hover > a,
	.genesis-nav-menu.responsive-menu a:hover {
		background: none;
	}

	.site-header .genesis-nav-menu.responsive-menu .current-menu-item > a,
	.site-header .genesis-nav-menu.responsive-menu .sub-menu li a,
	.site-header .genesis-nav-menu.responsive-menu .sub-menu li a:hover,
	.site-header .genesis-nav-menu.responsive-menu .sub-menu,
	.site-header .genesis-nav-menu.responsive-menu > .menu-item-has-children:before,
	.site-header .genesis-nav-menu.responsive-menu > li:hover > a,
	.site-header .genesis-nav-menu.responsive-menu a:hover {
		color: #fff;
	}

	.archive-description,
	.author-box,
	.comment-respond,
	.entry,
	.entry-comments,
	.entry-pings,
	.sidebar .widget,
	.site-header {
		padding: 0;
	}

	.archive-pagination li a {
		margin-bottom: 4px;
	}

	.five-sixths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		margin: 0 0 40px;
		width: 100%;
	}

	.sidebar .widget.enews-widget {
		padding: 40px;
	}

	.front-page-1 {
		height: auto;
		padding: 10% 0;
	}

	.home-mid .wrap {
		padding: 0;
	}

	.home-mid-left {
		margin-top: 120px;
		width: 100%;
	}

	.home-mid-left .wrap {
		padding-left: 5%;
		padding-right: 5%;
	}

	.home-mid-right {
		margin-top: 80px;
		padding: 120px 0;
		width: 100%;
	}

	.home-mid-right .wrap {
		padding-left: 5%;
		padding-right: 5%;
	}

	.home-mid-right h4 {
		font-size: 30px;
		font-size: 3.0rem;
	}

	.front-page-10 .flexible-widgets {
		padding: 60px 0;
	}

	.fp-left,
	.fp-right,
	.fp-left2,
	.fp-right2 {
		clear: both;
		text-align: center;
		width: 100%;
	}

	.fp-left,
	.fp-right2 {
		margin: 40px 0 0;
		min-height: auto;
	}

	.fp-left2 {
		min-height: 300px;
	}

	.fp-right {
	  margin-top: 40px;
		min-height: auto;
	}

	.fp-left2 img,
	.fp-right img {
		position: relative;
		max-width: 100%;
	}

	.leftrow,
	.rightrow {
		clear: both;
		text-align: center;
		width: 100%;
	}

	.home .content ol,
	.home .content ul {
		margin-left: 0;
	}

	.home .content ul > li {
	  list-style-type: none;
	}

}

@media only screen and (max-width: 760px) {

	.front-page-2 form {
		background: none;
	}

	.plan {
		float: none;
		margin: 0 auto 40px;
		width: 90%;
	}

	.popular {
	    transform: none;
	    -webkit-transform: none;
	}

	.content .portfolio {
		width: 48%;
	}

	.portfolio-clear {
		clear: both;
	}

	.portfolio-clear-2 {
		clear: none;
	}

	.content .portfolio .post-image {
		width: 100%;
	}
	.BlogList img{ width:80%;}


}

@media only screen and (max-width: 640px) {
	

	.front-page-1,
	.front-page-4,
	.front-page-5,
	.front-page-7,
	.front-page-9,
	.front-page-12 {
		background-size: cover;
	}
	
	.BlogList img{ width:60%;}
	.cta_btns .one-third > h3 {
    font-size: 1.8rem;
    height: 75px !important;
}
.cta_btns .button.large {
  font-size: 12px;
  width: 100%;
}

}

@media only screen and (max-width: 550px) {

.wrap-text {
  width: 100%;
}
.wrap-text h1 {
  font-size: 3rem;
  margin:1em 0
}
.wrap-text h2 {
  font-size: 2.4rem;
  margin: 0 auto;
  width: 100%;
  
}
.wrap-text .cta_footer {
  margin: 0 auto;
  font-size:1.5rem !important;
}
	.image-section h4,
	.solid-section h4 {
		font-size: 34px;
		font-size: 3.4rem;
		margin-bottom: 20px;
	}

	.front-page-2 .image-section h4 {
		font-size: 24px;
		font-size: 2.4rem;
	}

	.enews-widget input,
	.front-page-2 .enews-widget input {
		width: 100%;
	}

	.content .portfolio {
		text-align: center;
		width: 100%;
	}

	.content .portfolio .post-image {
		width: 100%;
	}

	.content .portfolio .more-link {
		margin: 20px auto 0;
		padding: 6px;
		width: 60%;
	}

	.left-content,
	.right-content {
		text-align: center;
		width: 100%;
	}

	.left-content .fa,
	.right-content .fa {
		padding: 20px;
	}
	
	.BlogList img{ width:65%;}

}

@media only screen and (max-width: 380px) {
	.BlogList img{ width:100%;}
}


/* # Print Styles
---------------------------------------------------------------------------------------------------- */

@media print {

	*,
	*:before,
	*:after {
		background: transparent !important;
		box-shadow: none !important;
		color: #000 !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	a[href^="javascript:"]:after,
	a[href^="#"]:after,
	.site-title > a:after {
		content: "";
	}

	thead {
		display: table-header-group;
	}

	img,
	tr {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 2cm 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	blockquote,
	pre {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	.content,
	.content-sidebar {
		width: 100%;
	}

	button,
	input,
	select,
	textarea,
	.breadcrumb,
	.comment-edit-link,
	.comment-form,
	.comment-list .reply a,
	.comment-reply-title,
	.edit-link,
	.entry-comments-link,
	.entry-footer,
	.genesis-box,
	.header-widget-area,
	.hidden-print,
	.home-top,
	.nav-primary,
	.nav-secondary,
	.post-edit-link,
	.sidebar {
		display: none !important;
	}

	.title-area {
		text-align: center;
		width: 100%;
	}

	.site-title > a {
		margin: 0;
		text-decoration: none;
		text-indent: 0;
	}

	.site-inner {
		padding-top: 0;
		position: relative;
		top: -100px;
	}

	.author-box {
		margin-bottom: 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		orphans: 3;
		page-break-after: avoid;
		page-break-inside: avoid;
		widows: 3;
	}


	img {
		page-break-after: avoid;
		page-break-inside: avoid;
	}

	blockquote,
	pre,
	table {
		page-break-inside: avoid;
	}

	dl,
	ol,
	ul {
		page-break-before: avoid;}

}
.testimonial img { border-radius: 100%; height: 120px; width: 120px;margin-bottom: 20px; }
.testimonial h6 { font-weight:600}
.testimonial .designation { line-height:0.2;font-size: 1.5rem;}
.textwidget.profile { text-align: center; }
.profile  img { border-radius: 100%; height: 100%; margin: 0 auto; max-height: 300px; max-width: 300px; width: 100%; margin: 0 auto 20px;}
.custom_profile  img {max-height: 200px; max-width: 200px;}
.profile  h3 {font-size: 2.6rem;color: #666;font-weight: lighter;}
.profile  p {  font-size: 1.6rem !important; text-align: left;}
*::-moz-placeholder { color: #666 !important;}
.wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ok { display: none !important;}
.wpcf7-not-valid-tip { font-size: 13px !important;}
.post-521 h1 { text-align: center; }
.bottom-content{ display: inline-block;width: 100%; margin-bottom: 20px;}
.clear-both{clear:both}
.page-template .content-sidebar-wrap  h1.entry-title , .page-template-default .content-sidebar-wrap   h1.entry-title{ display: none;}
.front-page-4 .one-third img { height: 250px; width: 381px; }
.front-page-4 .one-third h3 { font-size: 2.5rem; }
.front-page-4 .one-third p { height: 193px; text-align: justify; }
.front-page-4 .one-third a { font-size: 1.3rem;}
.testimonials img { border-radius: 100%;max-height: 200px;max-width: 200px;}
.testimonials p { font-size: 1.8rem; }
.light .site-title a { margin-top: 10px;}
.social_media h3 { font-size: 2.5rem; font-weight: 600 !important; margin-top: 13px; text-align: center;color: #666;}
.social_media p{  font-size: 1.6rem !important; text-align: left;}

.services .one-third, .two-sixths { width: 30.624%; }
.services  img { display: table; margin: 0 auto; max-height: 300px; max-width: 300px; text-align: center; }
.services h3 , .trainig h3 { font-size: 2.5rem; font-weight: 600 !important; margin-top: 13px; text-align: center;color: #666;}
.services p , .trainig p{  font-size: 1.6rem !important; text-align: left;}
.services figure { border: 3px solid #609aeb; border-radius: 100px; display: table; height: 120px; line-height: 120px; margin: 0 auto; width: 120px; }
.services  figure img { margin-top: 22px }
.footer-section-logo { margin-bottom: 20px; margin-top: 20px}
footer .wrap { font-size: 11px; font-weight: 400; letter-spacing: 3px; margin: 0 auto;padding: 0; }
.page-template .content-sidebar-wrap  h1, .page-template-default .content-sidebar-wrap   h1{ font-size: 2.6em; color: #666;}
.page-template .content-sidebar-wrap  h2, .page-template-default .content-sidebar-wrap   h2{ color:#3eb4e6; font-style: italic}
.page-template .content-sidebar-wrap  h2 > strong, .page-template-default .content-sidebar-wrap   h2 > strong{  font-weight: lighter}
.current-menu-item a { color: #3eb4e6 !important; }
.genesis-nav-menu a:focus, .genesis-nav-menu a:hover {
  color: #3eb4e6;
  transition: none 0s ease 0s !important;
}
.cta_footer{cursor: default;
    display: table;
    margin: 0 auto;
    text-align: center;
	   padding: 15px 40px;}
.cta_footer a ,.cta_footer a:hover {
    color: #fff;
}
.front-page-2 .button.large.cta_footer {
  background: #fff none repeat scroll 0 0;
  color: #3EB4E6;
  font-size:2rem;
  line-height:1.5em
}
.front-page-2 .button.large.cta_footer:hover {
  background: #000 none repeat scroll 0 0;
   color: #fff 

}
.front-page-3 .button.large.cta_footer {

  font-size:2rem;
  line-height:1.5em
}
.front-page-3 h4 {

  font-size:4rem;

}
.front-page-3 p {

  font-size:2.8rem;

}
.footer_address{margin-bottom:5px !important}
/***Case Study Css*/
.BlogList {
  align-items: center;
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.13);
  color: #000;
  display: flex;
  justify-content: center;
  margin: 15px 15px 30px 0;
  height: 250px;
  padding: 15px 12px 12px;
  position: relative;
}
/***Contact Page***/

/*.page-template-page_contact .site-inner {
  margin-top: 76px !important;
  max-width: 100% !important;
  width: 100%;
}*/
.page-template-page_profile .button.large.cta_footer,
.page-template-page_service .button.large.cta_footer,
.page-template-page_socialmedia .button.large.cta_footer,
.page-template-page_training .button.large.cta_footer,
.page-template-page_contact .button.large.cta_footer{
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 30px;
}
.front-page-13 .flexible-widgets {
  margin-top: 40px;
  padding: 0;
}
.front-page-3 .flexible-widgets {
  margin-top: 60px;
  padding: 0;
  margin-bottom: 30px;
}
.page-template-page_profile h1,
.page-template-page_service h1,
.page-template-page_socialmedia h1,
.page-template-page_training h1,.page-template-page_testimonial h1,.page-template-page_training h1,
.page-template-page_contact h1,.page-template-page_profile h1 strong,
.page-template-page_service h1 strong,
.page-template-page_socialmedia h1 strong,
.page-template-page_training h1 strong,
.page-template-page_contact h1 strong,.page-template-page_training h1 b,
.page-template-page_testimonial h1 strong{
  font-weight: 100;
}

.button.large.cta_footer.thanks_page {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid orange;
  color: #333333;
  cursor: pointer;
}

.infusion-form .infusion-field { margin-bottom: 10px; }
.page-template-page_profile h3, .page-template-page_profile h3 strong{
  font-weight: 100;
  color:#666;
  text-align:center
}
.page-template-page_profile .readmore, .page-template-page_profile .less_more {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #b0b0b0;
  display: table;
  float: none;
  margin: 0 auto;
  text-align: center;
}
.page-template-page_profile .readmore:hover, .page-template-page_profile .less_more:hover {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #b0b0b0;
}
.custom_profile > h3 {
  font-size: 2rem !important;
 
}
@media (min-width: 760px) {
.infusion-form .infusion-field { width: 48%; float: left; margin-bottom: 10px; }
.infusion-form .infusion-field:nth-child(odd) { float: right; }
.infusion-form .infusion-submit { clear: both; }
}
